extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt, arcu id elementum molestie, felis felis malesuada ligula, vitae pellentesque tortor nisi in nisi. Nulla suscipit tincidunt arcu, sed gravida nulla auctor at. Sed fringilla arcu at arcu porta imperdiet. Sed nisi arcu, tempor at odio et, condimentum ornare augue. Sed erat nulla.

                p Proin leo turpis, ullamcorper sed nibh viverra, ultrices rhoncus odio. Vestibulum eu feugiat metus, sit amet feugiat libero. Donec fermentum at risus in luctus. Phasellus consectetur feugiat nisi, id lacinia augue. Nulla dictum, ligula ut ullamcorper maximus, sem ipsum ultricies lorem, quis malesuada lorem purus ut nunc. Sed lacinia, ligula et vulputate consectetur.

                p Maecenas in felis quis enim hendrerit tincidunt. Vivamus mattis dictum augue ac bibendum. Fusce rutrum dignissim orci eget finibus. Fusce pulvinar orci nulla, eu luctus massa egestas in. Sed felis quam, finibus ac ex at, sollicitudin imperdiet nisl. Sed tempor ultricies dolor sed lobortis.
    .listado-icons 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4  
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p   Vivamus mattis dictum augue ac bibendum. Fusce rutrum dignissim orci eget finibus. Fusce pulvinar orci nulla, eu luctus massa egestas in. Sed felis quam, finibus ac ex at, sollicitudin imperdiet nisl. Sed tempor ultricies dolor sed lobortis.

                .col-md-4  
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p   Vivamus mattis dictum augue ac bibendum. Fusce rutrum dignissim orci eget finibus. Fusce pulvinar orci nulla, eu luctus massa egestas in. Sed felis quam, finibus ac ex at, sollicitudin imperdiet nisl. Sed tempor ultricies dolor sed lobortis.

                .col-md-4  
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p   Vivamus mattis dictum augue ac bibendum. Fusce rutrum dignissim orci eget finibus. Fusce pulvinar orci nulla, eu luctus massa egestas in. Sed felis quam, finibus ac ex at, sollicitudin imperdiet nisl. Sed tempor ultricies dolor sed lobortis.
                    